.bigger-number {
    font-size: 1.2em;
}

@keyframes blur-fade {
    0% {
        filter: blur(10px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

/* Applica l'animazione all'avviso */
.alert {
    animation: blur-fade 0.5s ease-in-out;
}


/* Stile per l'avviso di successo (verde) */
.alert-success {
    background-color: #4CAF50;
    /* Colore di sfondo verde */
    color: white;
    /* Testo bianco */
}

/* Stile per l'avviso di errore (rosso) */
.alert-danger {
    background-color: #f44336;
    /* Colore di sfondo rosso */
    color: white;
    /* Testo bianco */
}


.highlight-link {
    font-weight: bold;
    /* Altri stili per l'evidenziazione */
}

.text_navbar {
    font-weight: 100;
}

.delete-button {
    font-weight: bold;
    background-color: rgb(215, 11, 11);
    border: none;
    color: white;
    font-size: 16px;
    padding: 1px 12px;
    cursor: pointer;
    border-radius: 5px;
    /* Bordo arrotondato */
}

.titolo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: color(display-p3 0.2627 0.5922 0.1647);
    font-weight: bold;
    padding-left: 8px;
}

.titolo_home {
    display: flex;
    align-items: center;
    font-family: "Verdana", sans-serif;
    font-size: 32px;
    color: color(display-p3 0.2627 0.5922 0.1647);
    padding-top: 90px;
    font-weight: 900;
}



.titoli_pagine {
    font-size: 25px;
    color: color(display-p3 0.2627 0.5922 0.1647);
    font-weight: bold;
}

.sottotitoli_pagine {
    font-size: 18px;
    color: color(display-p3 0.46 0.46 0.46);
}


.add-button {
    /*questo bottone ha id="bottoneAdd" */
    font-weight: bold;
    background-color: rgb(0, 204, 11);
    border: none;
    color: white;
    font-size: 16px;
    padding: 1px 12px;
    cursor: pointer;
    border-radius: 5px;
    /* Bordo arrotondato */
}


/* Stili CSS solo per l'elemento con l'ID "bottone" */
#bottone {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #4a5568;
    /* Colore di sfondo */
    border: 1px solid transparent;
    border-radius: 0.375rem;
    /* Rounded-md */
    font-weight: 600;
    /* Font-semibold */
    font-size: 0.75rem;
    /* Text-xs */
    color: #fff;
    /* Text-white */
    text-transform: uppercase;
    letter-spacing: 0.05em;
    /* Tracking-widest */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-left: 0.75rem;
    /* Ml-3 */
}

/* Pseudoclassi per hover e focus */
#bottone:hover {
    background-color: #2d3748;
    /* Hover bg-gray-700 */
    color: #fff;
    /* Hover text-white */
}

#bottone:focus {
    background-color: #2d3748;
    /* Focus bg-gray-700 */
    color: #fff;
    /* Focus text-white */
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
    /* Focus ring-2 ring-indigo-500 */
}

/* Pseudoclasse per cliccare */
#bottone:active {
    background-color: #1a202c;
    /* Active bg-gray-900 */
    color: #111827;
    /* Active text-gray-900 */
}

/* Stile in modalità scura */
.dark #bottone {
    background-color: #f7fafc;
    color: #2d3748;
    border-color: transparent;
}

/* Stile in modalità scura durante l'hover */
.dark #bottone:hover {
    background-color: #2d3748;
    /* Dark hover dark:hover:bg-white */
    color: #fff;
    /* Dark hover text-white */
}

/* Stile in modalità scura durante il focus */
.dark #bottone:focus {
    background-color: #2d3748;
    /* Dark focus dark:focus:bg-white */
    color: #fff;
    /* Dark focus text-white */
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
    /* Dark focus ring-offset-2 dark:focus:ring-offset-gray-800 */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333; /* Sostituisci con il colore desiderato */
    color: #fff; /* Colore del testo */
    padding: 10px 0;
    z-index: 100; /* Assicura che la navbar sia sopra gli altri contenuti */
}

.sticky {
    position: fixed;
    top: 0;
}
